@media screen and (min-width:992px){
    .nav-item {
        line-height:50px;
        }
      }
    
    .mx-2:hover {
        color: yellow;
       
    }
    
    .mx-2  {
        border-radius: 5px;
        border: 1px;
    }
    
    .dropdown-menu{
     margin-top: -20px;
     background-color: rgb(33, 33, 33);
     color: white;
    
    }
    
                      
    .dropdown-item{
        color: white;
        display: inline;
     
    }
    
    .dropdown-item:hover{
        color:yellow;
        background-color: rgb(33, 33, 33);
    
    }
    .v{
        text-align: center;
    }
    